.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal .centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal .centered .image-detail-modal {
  width: 520px;
  height: 520px;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal .centered .image-detail-modal img {
  flex: 1;
  max-width: 390px;
  max-height: 390px;
  height: auto;
  width: auto;
  overflow: hidden;
  border-radius: 16px;
}

.modal .centered .image-detail-modal .modal-text-section {
  text-align: center;
  font-family: 'Trirong', serif;
}

.modal .centered .image-detail-modal .modal-button {
  background: darkmagenta;
  border-radius: 8px;
  color: white;
  padding: 10px;
  position: fixed;
  left: 10px;
  bottom: 10px;
}

.modal .centered .image-detail-modal .modal-button:hover {
  background: rgb(65, 1, 65);
}
